body{
  background-image: url("Topbg.jpg");
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 100%;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid gray;
}

tr.true {
  background-color: #ccffcc;
}

tr.false {
  background-color: #ffcccc;
}
 
#warning {
  background-color: #ffcccc;
}

